.burger-menu {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 9999;
    color: #f4f4f4;
    position: fixed;
    background: #9e8c7d;
    border-radius: 10px;
    padding: 15px;
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: -900px; /* Start hidden */
    width: 400px;
    height: 100%;
    background-color: #4a3622;
    color: white;
    transition: left 0.5s ease-in-out; /* Smooth sliding effect */
    padding-top: 60px;
    z-index: 999;
  }
  
  .sidebar.open {
    left: 0; /* Slide into view when open */
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 5rem 0;
  }
  
  .sidebar li {
    padding: 30px 100px;
    cursor: pointer;
    font-size: 30px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  }
  
  .sidebar li:hover {
    background-color: #9e8c7d;
  }
  