/* App.css */
body {
  margin: 0;
  /* font-family: 'Arial', sans-serif; */
  background-color: #f9f0e8; /* Match the reference */
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  background-color: #F0DECA;
}

.hero-image img {
  width: 50vw;
  height: 100%;
}

.hero-content {
  /* max-width: 600px;
  margin-left: 50px; */
  padding: 100px;
}

.hero-content h1 {
  font-size: 6rem;
  font-weight: 900;
  color: #4a3622; /* Customize color */
  font-family: 'Fira Sans';
}

.hero-content p {
  color: #6e5845;
  line-height: 1.8;
  font-size: 32px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
