/* App.css */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f0e8; /* Match the reference */
}

/* .menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 24px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-list li {
  text-align: left;
  padding: 10px 20px;
  font-weight: bold;
  color: #333;
} */

.hero-section {
  display: flex;
  justify-content: space-between;
  background-color: #F0DECA;
}

.hero-image img {
  width: 50vw;
  height: auto;
}

.hero-content {
  /* max-width: 600px;
  margin-left: 50px; */
  padding: 100px;
}

.hero-content h1 {
  font-size: 6rem;
  font-weight: 900;
  color: #4a3622; /* Customize color */
  font-family: 'Fira Sans';
}

.hero-content p {
  color: #6e5845;
  line-height: 1.8;
  font-size: 32px;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
